/* Styling goes in this file */

body {
	font-family: Arial;
}

table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    border-collapse: collapse;
    width: 100%;
}

tr.border_bottom td {
  border-bottom: 1px solid black;
}

.info{
	text-align: center;
}

th {
  background-color: #D6EEEE;
}

p1 {
  text-align: left;
}

h1{
  text-align: center;
}

h2{
	text-align: left;
}

img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 9px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left-column {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: flex-start;
  align-items: flex-start;
}

.right-column {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: flex-start;
  align-items: flex-start;
}

#decoration {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

circle {
    opacity: 50%;
    fill: darkolivegreen;
}

rect {
    fill: blueviolet;
    border-style: solid;
    bordr-width: 2px;
    border-color: black;
}
  
circle:hover {
    stroke: black;
    stroke-width: 5px;
}

rect:hover {
    fill: black;
    border-style: solid;
    bordr-width: 2px;
    border-color: black;
}

h3{
  text-align: center;
}
